<html>
    <head>
        <title>Flask-SocketIO-Chat: {{ room }}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/ricmoo/aes-js/e27b99df/index.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jsbn.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jsbn2.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/prng4.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/rng.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/ec.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/sec.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/kripto.js') }}"></script>
        <script type="text/javascript" charset="utf-8">
            var rng = new SecureRandom();
            var q, a, b, gx, gy, n, publicX, publicY;
            function set_ec_params(name) {
              var c = getSECCurveByName(name);

              q = c.getCurve().getQ().toString();
              a = c.getCurve().getA().toBigInteger().toString();
              b = c.getCurve().getB().toBigInteger().toString();
              gx = c.getG().getX().toBigInteger().toString();
              gy = c.getG().getY().toBigInteger().toString();
              n = c.getN().toString();
            }
            function pick_rand() {
              var n2 = new BigInteger(n);
              var n1 = n2.subtract(BigInteger.ONE);
              var r = new BigInteger(n2.bitLength(), rng);
              return r.mod(n1).add(BigInteger.ONE);
            }
            function get_curve() {
              return new ECCurveFp(new BigInteger(q),
                new BigInteger(a),
                new BigInteger(b));
            }

            function get_G(curve) {
              return new ECPointFp(curve,
                curve.fromBigInteger(new BigInteger(gx)),
                curve.fromBigInteger(new BigInteger(gy)));
            }
            function calculatePublic() {
              var curve = get_curve();
              var G = get_G(curve);
              var P = G.multiply(myPrivate);
              publicX = P.getX().toBigInteger().toString();
              publicY = P.getY().toBigInteger().toString();
            }

            function calculateSessionKey(otherX, otherY) {
              var curve = get_curve();
              var P = new ECPointFp(curve,
                curve.fromBigInteger(new BigInteger(otherX)),
                curve.fromBigInteger(new BigInteger(otherY)));
              var S = P.multiply(myPrivate);
              return pad(S.getX().toBigInteger().toString(16), 32);
            }
            function getKeys(publicKeys) {
                var arr = [];
                Object.keys(publicKeys).forEach(function(key,index) {
                    obj = publicKeys[key];
                    arr.push({sid: key, name: obj['name'], session_key: calculateSessionKey(obj['publicX'], obj['publicY'])});
                });
                sessionKeys = arr;
            }
            function printKeys(except) {
                var str = "";
                for(let i = 0; i < sessionKeys.length; i++){
                    if (except != sessionKeys[i].sid)
                        str += sessionKeys[i].name + " : " + sessionKeys[i].session_key + '\n';
                }
                console.log(sessionKeys);
                console.log(str);
                $('#session_keys').val(str);
            }

            function pad(str, len) {
                while(str.length < len){
                    str = "0" + str;
                }
                return str;
            }

            function encryptWithAllKeys(message) {
                var ciphers = []
                for(let i = 0; i < sessionKeys.length; i++){
                    let ciphertext = aes128Encrypt(sessionKeys[i].session_key, message);
                    ciphers.push({sid: sessionKeys[i].sid, message: ciphertext})
                }
                return ciphers;
            }

        </script>
        <script type="text/javascript" charset="utf-8">
            // AES-128 will be used, so I choose secp128r1 curve.
            set_ec_params("secp128r1");
            // Pick a random private key.
            var myPrivate = pick_rand();
            var sessionKeys;
            console.log(myPrivate.toString());
            //  Calculate public key by private key using secp128r1 curve
            calculatePublic();
            var socket;
            $(document).ready(function(){

                socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
                socket.on('connect', function() {
                    socket.emit('joined', {pubX : publicX, pubY: publicY});
                });
                socket.on('status', function(data) {
                    $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                    console.log(data.keys);
                    console.log(socket.id)
                    getKeys(data.keys)
                    printKeys(socket.id);
                });
                socket.on('message', function(data) {
                    var result = $.grep(sessionKeys, function(e){ return e.sid == data.sender; });
                    $('#chat').val($('#chat').val() + result[0].name +" : "
                        + aes128Decrypt(result[0].session_key, data.cipher) 
                        + " (" + data.cipher + ')\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });
                $('#text').keypress(function(e) {
                    var code = e.keyCode || e.which;
                    if (code == 13) {
                        text = $('#text').val();
                        $('#text').val('');
                        socket.emit('ciphers', {arr: encryptWithAllKeys(text)});
                    }
                });
            });
            function leave_room() {
                socket.emit('left', {}, function() {
                    socket.disconnect();

                    // go back to the login page
                    window.location.href = "{{ url_for('main.index') }}";
                });
            }
        </script>
    </head>
    <body>
        <div class="row">
            <h1>Flask-SocketIO-Chat: {{ room }}</h1>
        </div>
        <div class="row">
          <div class="column">
            <textarea id="chat" cols="80" rows="20"></textarea><br><br>
            <input id="text" size="80" placeholder="Enter your message here"><br><br>
            <a href="#" onclick="leave_room();">Leave this room</a>
          </div>
          <div class="column">
              <textarea id="session_keys" cols="80" rows="20"></textarea>
          </div>
        </div>
    </body>
</html>