<html>
    <head>
        <title>Flask-SocketIO-Chat</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/sha1.js') }}"></script>
        <script type="text/javascript" charset="utf-8">
            var socket;
            var hashed_password;
            $(document).ready(function(){

                socket = io.connect('http://' + document.domain + ':' + location.port + '/auth');
                socket.on('message', function(data) {
                    $('#chat').val($('#chat').val() + data.sender + " at " + data.room + ": " + data.message + "\n");
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });
                // First client says "hello my name is {name}" to server
                $('#submit').on('click', function() {
                    hashed_password = hex_sha1($('#password').val());
                    socket.emit('start_protocol', {name: $('#name').val()});
                });
                // Then server responds "If you are {name} then encrypt this challenge I sent."
                socket.on('protocol_level_1', function(data) {
                    console.log('challenge: ' + data.challenge)
                    console.log('noo: ' + str2rstr_utf8(data.challenge))
                    console.log('HMAC: ' + hex_hmac_sha1(hashed_password, data.challenge))
                    console.log('SHA1: ' + hex_sha1(data.challenge + hashed_password))
                    // TODO: get data.challenge and append hashed_password on it
                    // Then AES128 encr
                });
            });
        </script>
    </head>
    <body>
        <h1>Flask-SocketIO-Chat</h1>
        <form id="form" method="POST">
            {{ form.hidden_tag() }}
            {{ form.name.label }}: {{ form.name() }} {% for error in form.name.errors %}{{ error }}{% endfor %}<br>
            {{ form.password.label }}: {{ form.password() }} {% for error in form.password.errors %}{{ error }}{% endfor %}<br>
            {{ form.room.label }}: {{ form.room() }} {% for error in form.room.errors %}{{ error }}{% endfor %}<br>
            <button id="submit" type="button">Button</button>
        </form>
    </body>
</html>
