<html>
    <head>
        <title>Flask-SocketIO-Chat</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/ricmoo/aes-js/e27b99df/index.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/sha1.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jsbn.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/rsa.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/prng4.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/rng.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/sha256.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/cookie_util.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/kripto.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/kripto_rsa.js') }}"></script>
        <script type="text/javascript">
            function randomHexString() {
              var text = "";
              var possible = "ABCDEF0123456789";

              for (var i = 0; i < 24; i++)
                text += possible.charAt(Math.floor(Math.random() * possible.length));

              return text;
            }
        </script>
        <script type="text/javascript" charset="utf-8">
            var socket;
            var hashed_password, username, session_key;
            $(document).ready(function(){
                if(getCookie('username') != ''){
                    // similar behavior as clicking on a link
                    window.location.href = "/room";
                }
                socket = io.connect('http://' + document.domain + ':' + location.port + '/auth');
                socket.on('error_message', function(data) {
                    alert(data.message);
                });
                // First client says "hello my name is {name}" to server
                $('#submit').on('click', function() {
                    hashed_password = sha256($('#password').val());
                    username = $('#name').val();
                    console.log("hashed_password: " + hashed_password);
                    socket.emit('start_protocol', {name: username});
                });
                // Then server responds "If you are {name} then decrypt this challenge I sent."
                socket.on('protocol_level_1', function(data) {
                    console.log('challenge: ' + data.challenge);
                    decrypted = aes256Decrypt(hashed_password, data.challenge);
                    session_key = sha256(randomHexString());
                    console.log('decrypted: ' + decrypted);
                    toSend = JSON.stringify({challenge: decrypted, session_key: session_key});
                    console.log('challenge sent: ' + decrypted);
                    console.log('session_key sent: ', session_key);
                    socket.emit('proof_of_id', {name: username, ciphertext: RSAEncrpyt(toSend)});
                });
                // Then server responds "Welcome {name} it is your sso_token decrypt with session_key you just sent."
                socket.on('protocol_level_2', function(data) {
                    decrypted = aes256Decrypt(session_key, data.sso_token);
                    console.log('encrypted sso_token: ' + data.sso_token);
                    console.log('decrypted sso_token: ' + decrypted);

                    // Saves the sso_token and session_key to cookie
                    setCookie("username", username, 365);
                    setCookie("sso_token", decrypted, 365);
                    setCookie("session_key", session_key, 365);

                    // similar behavior as clicking on a link
                    window.location.href = "/room";
                });
            });
        </script>
    </head>
    <body>
        <h1>Flask-SocketIO-Chat</h1>
        <form id="form">
            {{ form.hidden_tag() }}
            {{ form.name.label }}: {{ form.name() }} {% for error in form.name.errors %}{{ error }}{% endfor %}<br>
            {{ form.password.label }}: {{ form.password() }} {% for error in form.password.errors %}{{ error }}{% endfor %}<br>
            <button id="submit" type="button">Button</button>
        </form>
    </body>
</html>
